# Ensure that even a bare `npm install` uses the desired install strategy.
install-strategy=nested

# Make `npm install --workspaces` also include the workspace root project so `@nad767/*` postinstall scripts execute.
# Note:
# Setting this globally caused `npm -w` script invocations of the root `package.json` to recursively target the root.
# To resolve that, `--no-include-workspace-root` was appended to each of them, which restored the default behavior.
include-workspace-root=true
